.question-rows-wrapper {
    min-height: 350px;
    margin: 30px 0;
}

#word-lists ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

#word-lists li:last-child {
    margin-right: 0;
}

.list-letter {
    width: 40px;
    height: 40px;
    font-size: 70px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-right: 5px;
}

.list-letter.border-green {
    border: 2px solid green;
}

.list-letter.border-yellow {
    border: 2px solid yellow;
}